# Virtual env
.venv/

# Python cache
__pycache__/
*.pyc

# Backend specific
backend/__pycache__/
backend/catboost_info/

# Ignore model artifacts
backend/artifacts/*.pkl

# Mac
.DS_Store

# Data (IMPORTANT)
data/

# Optional
*.log
.env